# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
*.tsbuildinfo

# .NET
bin/
obj/
*.user
*.suo
*.userprefs
.vs/
TestResults/

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# Secrets / certs
.env
.env.*
*.pfx
*.snk

# Builds
dist/
build/
coverage/

SkillLink.API/obj/
